<!DOCTYPE html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='chessstyle.css') }}" rel="stylesheet" type="text/css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style="background-color:#6B7A8F;">
    <div class="jumbotron text-center">
        <h1>ChessGame</h1> 
        <br>&nbsp;
        
        <table>
            {% for row in ui.board %}
                <tr>
                {% for cell in row %}
                    <td>&nbsp{{ cell }}&nbsp</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>&nbsp;
        <form action="play" method="get">
        <div class="input-group col-xs-9 col-md-3 div-center">
            <input name="move" type="text" required="" class="form-control" id="move" placeholder="{{player}}" size="32">
            <br>&nbsp;
        </div>
    
        <div class="input-group col-xs-9 col-md-3 div-center">
            <input name="submit" type="submit" class="btn btn-default mx-auto d-block" id="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;Move&nbsp;&nbsp;&nbsp;&nbsp;">
            <br>&nbsp;
    </div>
        </form>  
      </div>
</body>
